@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 8vh;
    height : 50px;
    background-color: #355764;
    font-family: 'Nunito', sans-serif;
    padding: 15px 0;
}

.navbar {
    font-size: 32px;
    padding-left: 20px;
    color: #ffffff;
}
nav .logo {
    letter-spacing: 3px;
    color: beige;
}

.my-container {
    background: #A5C9CA;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 30%;
    margin-top: -30px;
}

.content {
    font-family: 'Nunito', serif;
    width: 100%;
    display: flex;
    margin-top: 50px;
    box-sizing: border-box;
}

.col-1 {
    padding: 20px;
    width: 100% !important;
}


.user-information {
    position: relative;
}

.user-information .user-img img{
    width: 70px !important;
    border-radius: 50%;
    top: 0;
    left: 5%;
    background: #ffffff;
    padding: 4px;
    margin-top: 10px !important;
    position: absolute;
}

.user-information .user-name {
    padding-top: 20px;
    margin-top: 40px;
    color: #355764;
    font-size: 30px;
}

.user-information ul {
    display: flex;
    padding-top: 0px;
    justify-content: left;
    text-align: left;
}

.user-information ul li {
    list-style: none;
    margin: 0px;
    width: 55%;
}

.user-information ul li p {
    font-family: 'Nunito', serif;
    font-size: 20px;
    margin-top: 0px;
    color: #ffffff;
    font-weight: bold;
}

.user-information ul li h3 {
    color: #355764;
    margin-top: 0px;
    font-size: 30px;
}


main {
    font-family: 'Nunito', serif;
}


.wrapper {
    width: 100%;
    display: flex;
    color: #A5C9CA;
    box-sizing: border-box;
    padding: 20px;
}

.input_section {
    display: flex;
    flex-direction: column;
    color: #A5C9CA;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
}
  
.input_section > h2 {
    text-align: center;
    color: #355764;
    font-weight: bold;
}
  
.input_section > form > .input {
    margin: 8px 0;
}
  
.input_section > form > button {
    background-color: #355764;
    color: #ffffff;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}
  
  
.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}
  
.input_section > form > .input > label {
    color: #355764;
    font-weight: bold;
}
  
.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}
  
.input_section > form > .input_inline > label {
    color: #355764;
    font-weight: bold;
    margin-right: 10px;
}

.wrapper-search {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.search_section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.form_search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form_search > h2 {
    color: #355764;
}
  
.form_search > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 12px;
}
  
.form_search > form > label {
    display: flex;
    align-items: center;
    color: #355764;
    font-weight: bold;
}
  
.form_search > form > input {
    padding: 6px;
    border-radius: 10px;
}
  
.form_search > form > button {
    background-color: #355764;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
  
.search_section > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px 0;
}
  
.search_section > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.wrapper-incomplete {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.wrapper-incomplete .book_shelf h2 {
    text-align: center;
    color: #355764;
    padding-top: 20px;
}

.wrapper-complete {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.wrapper-complete .book_shelf h2 {
    text-align: center;
    color: #355764;
    padding-top: 20px;
}


.book_shelf {
    margin: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
  
.book_shelf > h2 {
    color: #ffffff;
}
  
.book_shelf > .book_list {
    padding: 16px;
}
  
.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border-radius: 5px;
    margin: 10px 0;
}
  
.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
    color: #ffffff;
}
  
.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.search_section > .book_list > .book_item > .action button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    margin-top: -100px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 20px;
}

.search_section > .book_list > .book_item > .action > .red {
    background-color: #DF2E38;
    color: #ffffff;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #115711;
    color: #ffffff;
    border-radius: 8px;
}

.book_shelf > .book_list > .book_item > .action > .green:hover {
    background-color: #008000;
    color: #ffffff;
}

.book_shelf > .book_list > .book_item > .action > .orange {
    background-color: #d49114;
    color: #ffffff;
    border-radius: 8px;
}

.book_shelf > .book_list > .book_item > .action > .orange:hover {
    background-color: #ffa500;
    color: #ffffff;
}
  
.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #DF2E38;
    color: #ffffff;
    border-radius: 8px;
}
  
.book_shelf > .book_list > .book_item > .action > .red:hover {
    background-color: #ff000d;
    color: #ffffff;
}

.input_section {
    background-color:  #A5C9CA;
    color: #355764;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search_section {
    background-color: #A5C9CA;
    color: #355764;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.book_shelf {
    background-color: #A5C9CA;
    color: #355764;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search_section #searchBookList .book_item {
    background-color: #fb9300;
    border-radius: 10px;
    color: beige;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.search_section #searchBookList .complete {
    background-color: #ffa500;
    border-radius: 10px;
    color: beige;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.book_shelf #incompleteBookshelfList .book_item {
    background-color: #355764;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.book_shelf #completeBookshelfList .book_item {
    background-color: #00425A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
